:host {
  display: block;
  height: 100%;
  position: relative;
}

.main-container {
  display: flex;
  flex-direction: column;
  
  height: calc(100% - 58px);
}

.menu-button {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 1;
  animation: rotate .3s forwards;
}

@keyframes rotate {
  0% {
    transform:  rotate(45deg);
  }


  100% {
    transform:  rotate(0deg);
  }
}
